:root {
	--texto-principal: #0d0f08;
	--texto-secundario: #737372;

	--fundo-principal: #ebebe1;
	--fundo-secundario: #8c873e;

	--fundo-secundario-light: #8c873e80;

	--destaque: #bf5b21;
}

html {
	background-color: var(--fundo-secundario);
	font-size: min(14px, 2.3vw);
}
body {
	font-family: "Gill Sans", "Arial Narrow", Arial, sans-serif;
}
input[type="button"],
input[type="submit"] {
	font-family: "Gill Sans", "Arial Narrow", Arial, sans-serif;
	font-size: 1.4rem;
}
